@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #cf8471;
  width: 100%;
  height: 100%;
  font-family: "Amatic SC", cursive;
  letter-spacing: 0.03em;
  line-height: 1.6;
}

.navbar {
  background: #cf8471 !important;
  font-size: 20px;
  font-family: "Edu NSW ACT Foundation", cursive;
  margin: 10px;
}

h1 {
  font-family: "Amatic SC", cursive;
  font-size: 60px;
  text-align: center;
  padding-top: 20px;
  background: linear-gradient(90deg, #cf8471, rgb(0, 0, 0)) 0 0/400% 100%;
  animation: move-bg 4s infinite linear;
  color: transparent;
  -webkit-background-clip: text;
}

@keyframes move-bg {
  to {
    background-position: 400% 0;
  }
}
.beneficios {
  font-family: "Amatic SC", cursive;
  font-size: 60px;
  text-align: center;
  padding-top: 20px;
  background: linear-gradient(90deg, #cf8471, rgb(0, 0, 0)) 0 0/400% 100%;
  animation: move-bg 4s infinite linear;
  color: transparent;
  -webkit-background-clip: text;
}

@keyframes move-bg {
  to {
    background-position: 400% 0;
  }
}
.imagen-bienvenida {
  animation: fadeIn 1s ease;
  text-align: center;
  margin: 40px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(20px);
  }
  10% {
    opacity: 1;
    filter: brightness(2) blur(10px);
  }
}
.parrafoinicio {
  font-family: "ABeeZee", sans-serif;
  margin: 20px;
  padding: 20px;
  text-align: center;
  line-height: 30px;
}

.parrafo-nosotros {
  font-family: "ABeeZee", sans-serif;
  margin: 20px;
  padding: 20px;
  text-align: center;
  line-height: 30px;
}

.parrafo-beneficios {
  font-family: "ABeeZee", sans-serif;
  margin: 20px;
  padding: 20px;
  text-align: center;
  line-height: 30px;
}

.video-inicio {
  text-align: center;
}

.copyright {
  text-align: left;
  margin-bottom: 10px;
}

.wspeig {
  text-align: right;
}

.title {
  text-align: center;
  font-size: 40px;
  color: #6a6a6a;
  margin-top: 100px;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.container .tarjeta {
  width: 330px;
  height: 450px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  background-color: #d4a699;
}
.container .tarjeta:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.container .tarjeta img {
  width: 330px;
  height: 220px;
}
.container .tarjeta img h2 {
  font-weight: 600;
  color: #131212;
  margin-top: 15px;
}
.container .tarjeta img h2 p {
  padding: 0 1rem;
  font-size: 20px;
  font-weight: 300;
  color: #131212;
}
.container .tarjeta img h2 p a {
  font-weight: 500;
  text-decoration: none;
  background-color: #131212;
  color: #ffffff;
}

.parrafo-envios {
  font-family: "ABeeZee", sans-serif;
  margin: 20px;
  padding: 20px;
  text-align: center;
  line-height: 30px;
}

.pagos {
  font-family: "Amatic SC", cursive;
  font-size: 60px;
  text-align: center;
  padding-top: 20px;
  background: linear-gradient(90deg, #cf8471, rgb(0, 0, 0)) 0 0/400% 100%;
  animation: move-bg 4s infinite linear;
  color: transparent;
  -webkit-background-clip: text;
}

@keyframes move-bg {
  to {
    background-position: 400% 0;
  }
}
.parrafo-pagos {
  font-family: "ABeeZee", sans-serif;
  margin: 20px;
  padding: 10px;
  text-align: center;
  line-height: 30px;
}

.logo-envio {
  text-align: center;
}

.logo-pagos {
  text-align: center;
}

.formulario {
  text-align: center;
  padding: 25px;
  font-size: 25px;
}

.localidad {
  text-align: center;
  font-size: 40px;
}

/*# sourceMappingURL=styles.css.map */
