.pie {
  bottom: 0;
}

.copyright {
  text-align: left;
  margin-bottom: 10px;
}

.wspeig {
  text-align: right;
}

.title {
  text-align: center;
  font-size: 40px;
  color: #6a6a6a;
  margin-top: 100px;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
}
