$color-parrafo: black;
$tipografia-general: "ABeeZee", sans-serif;

.parrafoinicio {
  font-family: $tipografia-general;
  margin: 20px;
  padding: 20px;
  text-align: center;
  line-height: 30px;
}

.parrafo-nosotros {
  font-family: $tipografia-general;
  margin: 20px;
  padding: 20px;
  text-align: center;
  line-height: 30px;
  color: $color-parrafo;
}

.parrafo-beneficios {
  font-family: $tipografia-general;
  margin: 20px;
  padding: 20px;
  text-align: center;
  line-height: 30px;
  color: $color-parrafo;
}

.parrafo-envios {
  font-family: $tipografia-general;
  margin: 20px;
  padding: 20px;
  text-align: center;
  line-height: 30px;
  color: $color-parrafo;
}

.parrafo-pagos {
  font-family: $tipografia-general;
  margin: 20px;
  padding: 10px;
  text-align: center;
  line-height: 30px;
  color: $color-parrafo;
}
