.parrafoinicio {
  font-family: "ABeeZee", sans-serif;
  margin: 20px;
  padding: 20px;
  text-align: center;
  line-height: 30px;
}

.parrafo-nosotros {
  font-family: "ABeeZee", sans-serif;
  margin: 20px;
  padding: 20px;
  text-align: center;
  line-height: 30px;
}

.parrafo-beneficios {
  font-family: "ABeeZee", sans-serif;
  margin: 20px;
  padding: 20px;
  text-align: center;
  line-height: 30px;
}

.parrafo-envios {
  font-family: "ABeeZee", sans-serif;
  margin: 20px;
  padding: 20px;
  text-align: center;
  line-height: 30px;
}

.parrafo-pagos {
  font-family: "ABeeZee", sans-serif;
  margin: 20px;
  padding: 10px;
  text-align: center;
  line-height: 30px;
}
